*{
    background-color:antiquewhite;
    font-family: sans-serif;
    color:black;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none; /* Removes the underline */
  border-radius: 5px;
  font-weight: bold;
}

.button:hover {
  background-color: #0056b3;
}

.log-window {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.log-entry {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.log-entry:last-child {
  border-bottom: none;
}