<!DOCTYPE html>
 <html>
{% load static %}

 <head>
    <meta charset="utf-8">
    <title>{% block title %}Health Tracker{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
 </head>

<body>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Account</a>
            <div class="dropdown-content">
                <a href="{% url 'accounts:signup' %}">Sign Up</a>
                <a href="{% url 'accounts:login' %}">Log In</a>
                <a href="{% url 'accounts:password_reset' %}">Reset Password</a>   
            </div>
        </li>
        <li class="dropdown">
            <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Medication Log</a>
            <div class="dropdown-content">
                <a href="{% url 'medication_entry:medication_new'}">Add Medication</a>
                <a href="{% url 'medication_entry:medication_list'}">Medication List</a>
            </div>
        </li>
    </ul>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>