<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>
Hi {{ user.username }}!
<p><a href="{% url 'password_change' %}">Password Change</a></p> <!-- Password Change Button. still working on this feature -->
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% else %}
<p>You are not logged in</p>
<button type="button" class="button" onclick="window.location.href='{% url 'password_reset' %}'">Password Reset</button>
<button type="button" class="button" onclick="window.location.href='{% url 'login' %}'">Log In</button>
<button type="button" class="button" onclick="window.location.href='{% url 'accounts:signup' %}'">Sign Up</button>
{% endif %}

<div class="log-window">
  <h2>Medication List</h2>

  {% for log in logs %}
    <div class="log-entry">
      <p><strong>{{ log.title }}</strong></p>
      <p>{{ log.content }}</p>
      <small>{{ log.created_at }}</small>
    </div>
  {% empty %}
    <p>No logs yet.</p>
  {% endfor %}
</div>
{% endblock %}
