{% extends "base.html" %}
{% load static %}
{% block title %}Medication Entry{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/entry.css' %}">
{% endblock %}

{% block content %}

<h2>Enter Your Medication Information</h2>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-pair">
        <div class="form-description">Medication Name</div>
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="form-pair">
        <div class="form-description">Dosage (mg)</div>
        {{ form.dosage_mg }}
        {{ form.dosage_mg.errors }}
    </div>
    <div class="form-pair">
        <div class="form-description">Times to Take (e.g., 09:00, 15:00, 20:00)</div>
        {{ form.times }}
        {{ form.times.errors }}
    </div>
    <div class="form-pair">
        <div class="form-description">Start Date</div>
        {{ form.start_date }}
        {{ form.start_date.errors }}
    </div>
    <div class="form-pair">
        <div class="form-description">End Date (Optional)</div>
        {{ form.end_date }}
        {{ form.end_date.errors }}
    </div>
    <div class="form-pair">
        <div class="form-description">Notes</div>
        {{ form.notes }}
        {{ form.notes.errors }}
    </div>
    <div class="form-pair">
        <div class="form-description">Refills Remaining</div>
        {{ form.refill }}
        {{ form.refill.errors }}
    </div>

    <button class="submit-button" type="submit">Save</button>
</form>


{% endblock %}
