{% extends "base.html" %}
{% load static %}

{% block title %}Medication List{% endblock %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}

{% if medications %}
{% for med in medications %} <div> <h3>{{ med.name }}</h3>
        <p><strong>Dosage:</strong> {{ med.dosage_mg }}mg</p>
        <p><strong>Times:</strong> {% if med.times %}{{ med.times|join:", " }}{% else %}No times set{% endif %}</p>
        <p><strong>Start Date:</strong> {{ med.start_date }}</p>
        {% if med.end_date %}
            <p><strong>End Date:</strong> {{ med.end_date }}</p>
        {% endif %}
        <p><strong>Refills Left:</strong> {{ med.refill }}</p>

        {% if med.notes %}
            <p><strong>Notes:</strong> {{ med.notes }}</p>
        {% endif %}
    </div>
    <hr>
{% endfor %}

{% else %} 
<p>You have no medications.</p>
<a class="medication-link" href="{% url 'medication_entry:entry' %}">Log Medications Here</a>
{% endif %}

{% endblock %}
